<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <title>Image Super-Resolution</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="mx-auto mt-5 text-center">
            <h1 class="mb-3">Image Super-Resolution Using GAN<br>SRGAN</h1>

            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {% for error in form.photo.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}

                {% if size_message %}
                <div class="mb-2 mt-1">
                    <span style="color: red;">{{ size_message }}</span>
                </div>

                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-auto">
                        {{ form.photo(class="form-control") }}
                    </div>
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </div>

            </form>

            <div class=" d-flex justify-content-around mt-5 mb-5" style="width:100% ">
                {% if lr_link %}
                <img src="{{ lr_link }}"  style="width:45%; height:50%"/>
                {% endif %}

                {% if sr_link %}
                <img src="{{ sr_link }}"  style="width:45%; height:50%" />
                {% endif %}
            </div>

        </div>
    </div>
</div>
</body>
</html>

